# Keep this
quarkus.datasource.user-store.db-kind=mysql

# Change these lines
quarkus.datasource.user-store.jdbc.url=jdbc:mysql://host.name/fksdb
quarkus.datasource.user-store.username=user
quarkus.datasource.user-store.password=password
